@font-face {
  font-family: "iconfont"; /* Project id 351524 */
  src: url('//at.alicdn.com/t/font_351524_fai1otua79i.woff2?t=1629449139151') format('woff2'),
       url('//at.alicdn.com/t/font_351524_fai1otua79i.woff?t=1629449139151') format('woff'),
       url('//at.alicdn.com/t/font_351524_fai1otua79i.ttf?t=1629449139151') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cis-icon-integral:before {
  content: "\e6a1";
}

.cis-icon-card:before {
  content: "\e6a2";
}

.cis-icon-patient:before {
  content: "\e8a2";
}

.cis-icon-cn-medicine:before {
  content: "\e8a1";
}

.cis-icon-download1:before {
  content: "\e699";
}

.cis-icon-a-addcase:before {
  content: "\e69a";
}

.cis-icon-audit:before {
  content: "\e8a0";
}

.cis-icon-data:before {
  content: "\e604";
}

.cis-icon-combine:before {
  content: "\e89e";
}

.cis-icon-edit:before {
  content: "\e89f";
}

.cis-icon-stamp:before {
  content: "\e89d";
}

.cis-icon-printed:before {
  content: "\e89c";
}

.cis-icon-pm1:before {
  content: "\e696";
}

.cis-icon-night:before {
  content: "\e697";
}

.cis-icon-airpharmacy:before {
  content: "\e68b";
}

.cis-icon-local-pharmacy:before {
  content: "\e68c";
}

.cis-icon-doctor:before {
  content: "\e89a";
}

.cis-icon-three_dot_v:before {
  content: "\e899";
}

.cis-icon-repeal:before {
  content: "\e898";
}

.cis-icon-child:before {
  content: "\e897";
}

.cis-icon-execute:before {
  content: "\e896";
}

.cis-icon-index:before {
  content: "\e894";
}

.cis-icon-delete:before {
  content: "\e871";
}

.cis-icon-download:before {
  content: "\e893";
}

.cis-icon-disease:before {
  content: "\e891";
}

.cis-icon-pay_demand:before {
  content: "\e87e";
}

.cis-icon-case:before {
  content: "\e87b";
}

.cis-icon-accessory:before {
  content: "\e87a";
}

.cis-icon-cart:before {
  content: "\e878";
}

.cis-icon-order:before {
  content: "\e879";
}

.cis-icon-city1:before {
  content: "\e877";
}

.cis-icon-add_patient:before {
  content: "\e870";
}

.cis-icon-switch:before {
  content: "\e86f";
}

.cis-icon-minus_thin:before {
  content: "\e86e";
}

.cis-icon-charge:before {
  content: "\e827";
}

.cis-icon-pic1:before {
  content: "\e83f";
}

.cis-icon-camera_glyph:before {
  content: "\e85c";
}

.cis-icon-gift1:before {
  content: "\e85d";
}

.cis-icon-keyboard1:before {
  content: "\e861";
}

.cis-icon-message_common1:before {
  content: "\e862";
}

.cis-icon-mic:before {
  content: "\e863";
}

.cis-icon-inquiry_file1:before {
  content: "\e864";
}

.cis-icon-voice:before {
  content: "\e866";
}

.cis-icon-prescription:before {
  content: "\e86d";
}

.cis-icon-city_2:before {
  content: "\e86a";
}

.cis-icon-city_1:before {
  content: "\e86c";
}

.cis-icon-pharmacy:before {
  content: "\e868";
}

.cis-icon-inquiry_more:before {
  content: "\e869";
}

.cis-icon-inquiry_file:before {
  content: "\e867";
}

.cis-icon-pic:before {
  content: "\e865";
}

.cis-icon-server:before {
  content: "\e860";
}

.cis-icon-data_set:before {
  content: "\e85f";
}

.cis-icon-shrink:before {
  content: "\e85e";
}

.cis-icon-full_screen:before {
  content: "\e858";
}

.cis-icon-case_set:before {
  content: "\e857";
}

.cis-icon-case_template:before {
  content: "\e856";
}

.cis-icon-history:before {
  content: "\e855";
}

.cis-icon-meridian:before {
  content: "\e854";
}

.cis-icon-treat:before {
  content: "\e853";
}

.cis-icon-effect:before {
  content: "\e851";
}

.cis-icon-coupon_:before {
  content: "\e84f";
}

.cis-icon-gift:before {
  content: "\e850";
}

.cis-icon-fulfil:before {
  content: "\e84e";
}

.cis-icon-money:before {
  content: "\e847";
}

.cis-icon-rotate_right:before {
  content: "\e843";
}

.cis-icon-rotate_left:before {
  content: "\e844";
}

.cis-icon-crosspx:before {
  content: "\e842";
}

.cis-icon-send:before {
  content: "\e841";
}

.cis-icon-diagnose:before {
  content: "\e83d";
}

.cis-icon-city:before {
  content: "\e83c";
}

.cis-icon-dispensing_set:before {
  content: "\e83b";
}

.cis-icon-btn_add:before {
  content: "\e83a";
}

.cis-icon-camera:before {
  content: "\e839";
}

.cis-icon-emoji:before {
  content: "\e836";
}

.cis-icon-message_common:before {
  content: "\e837";
}

.cis-icon-message_template:before {
  content: "\e838";
}

.cis-icon-arrow_bottom:before {
  content: "\e82c";
}

.cis-icon-Arrow_Left_:before {
  content: "\e82d";
}

.cis-icon-arrow_top:before {
  content: "\e832";
}

.cis-icon-Arrow_Rgiht_:before {
  content: "\e833";
}

.cis-icon-arrow_up:before {
  content: "\e834";
}

.cis-icon-arrow_down:before {
  content: "\e835";
}

.cis-icon-Arrow_Rgiht:before {
  content: "\e82e";
}

.cis-icon-dropdown_line_up:before {
  content: "\e82f";
}

.cis-icon-Arrow_Left:before {
  content: "\e830";
}

.cis-icon-dropdown_line:before {
  content: "\e831";
}

.cis-icon-profile:before {
  content: "\e82b";
}

.cis-icon-Prescription:before {
  content: "\e829";
}

.cis-icon-scan:before {
  content: "\e82a";
}

.cis-icon-Advice:before {
  content: "\e825";
}

.cis-icon-Case:before {
  content: "\e826";
}

.cis-icon-swiping_card:before {
  content: "\e828";
}

.cis-icon-keyboard:before {
  content: "\e824";
}

.cis-icon-appointment:before {
  content: "\e816";
}

.cis-icon-clinic:before {
  content: "\e817";
}

.cis-icon-callback:before {
  content: "\e818";
}

.cis-icon-Code:before {
  content: "\e819";
}

.cis-icon-calendar:before {
  content: "\e81a";
}

.cis-icon-department:before {
  content: "\e81b";
}

.cis-icon-people:before {
  content: "\e81c";
}

.cis-icon-Edit_Profile:before {
  content: "\e81d";
}

.cis-icon-message:before {
  content: "\e81e";
}

.cis-icon-plus_thin:before {
  content: "\e81f";
}

.cis-icon-trash:before {
  content: "\e820";
}

.cis-icon-update_log:before {
  content: "\e821";
}

.cis-icon-save:before {
  content: "\e822";
}

.cis-icon-module:before {
  content: "\e823";
}

.cis-icon-eye_disable:before {
  content: "\e810";
}

.cis-icon-triangle:before {
  content: "\e7fa";
}

.cis-icon-call_number:before {
  content: "\e7ee";
}

.cis-icon-info_bold:before {
  content: "\e7e9";
}

.cis-icon-Print_Set:before {
  content: "\e7e0";
}

.cis-icon-password:before {
  content: "\e7df";
}

.cis-icon-small_keyboard:before {
  content: "\e7de";
}

.cis-icon-move_item:before {
  content: "\e7d7";
}

.cis-icon-three_dot:before {
  content: "\e7d8";
}

.cis-icon-set:before {
  content: "\e7d0";
}

.cis-icon-cross_small:before {
  content: "\e7cf";
}

.cis-icon-yu:before {
  content: "\e7ce";
}

.cis-icon-export:before {
  content: "\e7cd";
}

.cis-icon-double_arrow_left:before {
  content: "\e7ca";
}

.cis-icon-filtrate:before {
  content: "\e7cb";
}

.cis-icon-message_push:before {
  content: "\e7c3";
}

.cis-icon-delete_circle:before {
  content: "\e7c2";
}

.cis-icon-reminder:before {
  content: "\e7bf";
}

.cis-icon-wechat_pay:before {
  content: "\e7bd";
}

.cis-icon-menu:before {
  content: "\e7bb";
}

.cis-icon-avatar_pic:before {
  content: "\e7ae";
}

.cis-icon-medicare_card:before {
  content: "\e7a9";
}

.cis-icon-Question_Mark:before {
  content: "\e79f";
}

.cis-icon-price_trend:before {
  content: "\e79d";
}

.cis-icon-eye:before {
  content: "\e79a";
}

.cis-icon-coupon:before {
  content: "\e794";
}

.cis-icon-diamond:before {
  content: "\e795";
}

.cis-icon-discount:before {
  content: "\e796";
}

.cis-icon-notice:before {
  content: "\e793";
}

.cis-icon-goods:before {
  content: "\e792";
}

.cis-icon-member:before {
  content: "\e790";
}

.cis-icon-dropdown_secondary_triangle:before {
  content: "\e78f";
}

.cis-icon-dropdown_triangle_up:before {
  content: "\e78c";
}

.cis-icon-positive_:before {
  content: "\e77b";
}

.cis-icon-enter:before {
  content: "\e778";
}

.cis-icon-delete_file:before {
  content: "\e777";
}

.cis-icon-dropdown_triangle:before {
  content: "\e775";
}

.cis-icon-check:before {
  content: "\e774";
}

.cis-icon-selected:before {
  content: "\e76c";
}

.cis-icon-charge_set:before {
  content: "\e76b";
}

.cis-icon-vip_chagre:before {
  content: "\e76a";
}

.cis-icon-search:before {
  content: "\e752";
}

.cis-icon-Safe_Code:before {
  content: "\e74f";
}

.cis-icon-Phone:before {
  content: "\e750";
}

.cis-icon-close_popup_grey_hov:before {
  content: "\e74b";
}

.cis-icon-Money_Set:before {
  content: "\e749";
}

.cis-icon-Bell:before {
  content: "\e746";
}

.cis-icon-Attention:before {
  content: "\e72c";
}

.cis-icon-Sign_Out:before {
  content: "\e739";
}

.cis-icon-minus:before {
  content: "\e722";
}

.cis-icon-plus:before {
  content: "\e734";
}

.cis-icon-next:before {
  content: "\e732";
}

.cis-icon-previous:before {
  content: "\e733";
}

.cis-icon-setting:before {
  content: "\e724";
}

.cis-icon-registration:before {
  content: "\e729";
}

.cis-icon-inspection:before {
  content: "\e72b";
}

.cis-icon-template:before {
  content: "\e72d";
}

.cis-icon-cure:before {
  content: "\e72e";
}

.cis-icon-clean:before {
  content: "\e71a";
}

.cis-icon-add_hover:before {
  content: "\e6d4";
}

.cis-icon-delete_item_hover_:before {
  content: "\e6e9";
}

.cis-icon-time:before {
  content: "\e720";
}

.cis-icon-info:before {
  content: "\e721";
}

.cis-icon-chosen:before {
  content: "\e723";
}

.cis-icon-upload_file_hover:before {
  content: "\e725";
}

.cis-icon-chexiao:before {
  content: "\e67a";
}

.cis-icon-zhuyishixia:before {
  content: "\e61d";
}

.cis-icon-gengduo:before {
  content: "\e70e";
}

.cis-icon-yibaoqia:before {
  content: "\e708";
}

.cis-icon-zhenshi:before {
  content: "\e706";
}

.cis-icon-yisheng:before {
  content: "\e707";
}

.cis-icon-shijian:before {
  content: "\e6fb";
}

.cis-icon-wechat1:before {
  content: "\e6f1";
}

.cis-icon-yinhangqia:before {
  content: "\e6f2";
}

.cis-icon-alipay:before {
  content: "\e6f3";
}

.cis-icon-xianjin:before {
  content: "\e6f4";
}

.cis-icon-wenhao1:before {
  content: "\e641";
}

.cis-icon-logo:before {
  content: "\e6e4";
}

.cis-icon-yinhao1:before {
  content: "\e6e3";
}

.cis-icon-yinhao:before {
  content: "\e6e2";
}

.cis-icon-RP:before {
  content: "\e6e0";
}

.cis-icon-chenggong:before {
  content: "\e6cf";
}

.cis-icon-jinggao1:before {
  content: "\e6d0";
}

.cis-icon-duigou:before {
  content: "\e6dc";
}

.cis-icon-qiehuan:before {
  content: "\e6da";
}

.cis-icon-renminbi:before {
  content: "\e6d8";
}

.cis-icon-tianjia1:before {
  content: "\e6d6";
}

.cis-icon-saoyisao:before {
  content: "\e64f";
}

.cis-icon-shouji1:before {
  content: "\e6d3";
}

.cis-icon-yonghuming:before {
  content: "\e6d5";
}

.cis-icon-shouji:before {
  content: "\e6d2";
}

.cis-icon-kongtongji:before {
  content: "\e6d1";
}

.cis-icon-avatar32:before {
  content: "\e6ce";
}

.cis-icon-avatar36:before {
  content: "\e6cc";
}

.cis-icon-avatar54:before {
  content: "\e6cd";
}

.cis-icon-baocun:before {
  content: "\e6ca";
}

.cis-icon-rili:before {
  content: "\e6c4";
}

.cis-icon-kongkucun:before {
  content: "\e6bf";
}

.cis-icon-kongjilu:before {
  content: "\e6c0";
}

.cis-icon-wechat:before {
  content: "\e6be";
}

.cis-icon-dayin:before {
  content: "\e6bb";
}

.cis-icon-yuangong:before {
  content: "\e6b1";
}

.cis-icon-geren:before {
  content: "\e6b5";
}

.cis-icon-avatar:before {
  content: "\e6a4";
}

.cis-icon-jinggao:before {
  content: "\e6a5";
}

.abc-button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 64px;
    height: 32px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #007aff;
    border: 0;
    border-radius: 3px;
    outline: none
}

.abc-button .an-loading {
    -webkit-animation: loading-rotate 1s linear infinite;
    animation: loading-rotate 1s linear infinite
}

.abc-button .an-loading .bc {
    stroke: #c6e2ff;
    stroke-linecap: round;
    stroke-width: 3
}

.abc-button .an-loading .path {
    stroke: #007aff;
    stroke-dasharray: 40,160;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 3
}

.abc-button .iconfont {
    margin-right: 6px;
    font-size: 14px
}

.abc-button .an-loading .bc,.abc-button .an-loading .path {
    stroke-width: 6px
}

.abc-button:not(.is-disabled):hover {
    background: #409bff
}

.abc-button:not(.is-disabled):active {
    background: #005ed9;
    opacity: 1
}

.abc-button-ghost {
    color: #7a8794;
    background-color: #fff;
    border: 1px solid #c1c9d0;
    border-radius: 3px
}

.abc-button-ghost:not(.is-disabled):hover {
    background: #eff3f6;
    border: 1px solid #c1c9d0
}

.abc-button-ghost:not(.is-disabled):active {
    background: #d9dde0;
    border: 1px solid #c1c9d0
}

.abc-button-blank {
    color: #005ed9;
    background-color: #fff;
    border: 1px solid #c1c9d0
}

.abc-button-blank:not(.is-disabled):hover {
    background: #d9ebff;
    border: 1px solid #80bdff
}

.abc-button-blank:not(.is-disabled):active {
    background: #bfdeff;
    border: 1px solid #80bdff
}

.abc-button-danger {
    color: #f36;
    background-color: #fff;
    border: 1px solid #c1c9d0;
    border-radius: 3px
}

.abc-button-danger:not(.is-disabled):hover {
    color: #f36;
    background: #ffedf1;
    border: 1px solid #ff99b3
}

.abc-button-danger:not(.is-disabled):active {
    color: #f36;
    background: #ffd1dc;
    border: 1px solid #ff99b3
}

.abc-button-text {
    min-width: 44px;
    height: 14px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    color: #005ed9;
    background: rgba(0,0,0,0);
    border: none
}

.abc-button-text:not(.is-disabled):hover {
    color: #459eff;
    background: rgba(0,0,0,0);
    border: none
}

.abc-button-text:not(.is-disabled):active {
    color: #005ed9;
    background: rgba(0,0,0,0);
    border: none
}

.abc-button-success {
    color: #fff;
    background-color: #0eba52;
    border-radius: 3px
}

.abc-button-success:not(.is-disabled):hover {
    background: #2dd670
}

.abc-button-success:not(.is-disabled):active {
    background: #08a446
}

.abc-button-warning {
    color: #fff;
    background-color: #f93;
    border-radius: 3px
}

.abc-button-warning:not(.is-disabled):hover {
    background: #ffad5b
}

.abc-button-warning:not(.is-disabled):active {
    background: #e5892d
}

.abc-button-payment {
    color: #fff;
    background-color: #ff793b;
    border-radius: 3px
}

.abc-button-payment:not(.is-disabled):hover {
    background: #ff9563
}

.abc-button-payment:not(.is-disabled):active {
    background: #e65f20
}

.abc-button-paymentp {
    color: #ff793b;
    background-color: #fff;
    border: 1px solid #ff793b;
    border-radius: 3px
}

.abc-button-paymentp:not(.is-disabled):hover {
    background-color: rgba(255,121,59,.1)
}

.abc-button-paymentp:not(.is-disabled):active {
    background-color: rgba(255,121,59,.2)
}

.abc-button-importantp {
    color: #d25945;
    background-color: #fff;
    border: 1px solid #d25945;
    border-radius: 3px
}

.abc-button-importantp:not(.is-disabled):hover {
    color: #d25945;
    background: #fce5e1;
    border: 1px solid #d25945
}

.abc-button-importantp:not(.is-disabled):active {
    color: #d25945;
    background: #f7c9c2;
    border: 1px solid #d25945
}

.abc-button-important {
    color: #fff;
    background-color: #d25945;
    border: 1px solid #d25945;
    border-radius: 3px
}

.abc-button-important:not(.is-disabled):hover {
    color: #fff;
    background: #bc4633;
    border: 1px solid #bc4633
}

.abc-button-important:not(.is-disabled):active {
    color: #fff;
    background: #ab3825;
    border: 1px solid #ab3825
}

.abc-button-successp {
    color: #0eba52;
    background-color: #fff;
    border: 1px solid #0eba52;
    border-radius: 3px
}

.abc-button-successp:not(.is-disabled):hover {
    background: rgba(14,186,82,.1)
}

.abc-button-successp:not(.is-disabled):active {
    background: rgba(14,186,82,.2)
}

.abc-button-only-icon {
    min-width: 0;
    height: auto;
    padding: 9px
}

.abc-button-only-icon .iconfont {
    margin-right: 0
}

.abc-button-only-icon.abc-button-small {
    padding: 5px
}

.abc-button-only-icon.abc-button-large {
    padding: 13px
}

.abc-button-only-icon.abc-button-text {
    padding: 4px;
    color: #aab4bf
}

.abc-button-only-icon.abc-button-text.is-disabled {
    color: #dadbe0
}

.abc-button-only-icon.abc-button-text:not(.is-disabled):hover {
    background-color: initial
}

.abc-button-only-icon.abc-button-text:not(.is-disabled):active {
    background: initial
}

.abc-button-small {
    min-width: 48px;
    height: 26px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 1
}

.abc-button-small i {
    margin-right: 5px;
    font-size: 14px
}

.abc-button-small.abc-button-text {
    min-width: 20px;
    height: 14px;
    padding: 0;
    line-height: 14px
}

.abc-button-large {
    min-width: 80px;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 1
}

.abc-button+.abc-button {
    margin-left: 8px
}

.abc-button-small+.abc-button-small {
    margin-left: 4px
}

.abc-button.is-disabled {
    color: #7a8794;
    cursor: not-allowed;
    background: #e6eaee;
    border: 1px solid #c1c9d0
}

.abc-button.is-disabled:active {
    opacity: 1
}

.abc-button-text.is-disabled {
    color: #7a8794;
    cursor: not-allowed;
    background: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0)
}

